   db     dP""b8 888888 .dP"Y8
  dPYb   dP   `"   88   `Ybo."
 dP__Yb  Yb        88   o.`Y8b
dP""""Yb  YboodP   88   8bodP'
41 63 63 65 6E 74 75 72 65  43 6F 6E 6E 65 63 74 65 64  54 65 63 68 6E 6F 6C 6F 67 79  53 6F 6C 75 74 69 6F 6E
---------------------------------------------------------------------------------------------------------------
@version@
